<div class="row">
  <div class="col-md-5">
    <% if @user.avatar? %>
      <%= @user.avatar %>
    <% else %>
      <img src="https://api.fnkr.net/testimg/300x300/00CED1/FFF/?text=img+placeholder">
    <% end %>  
  </div>
  <div class="col-md-7">
    
  <h1><%= @user.name %></h1>
  <p><%= @user.email %></p>
  <p><%= @user.intro %></p>
  <button><%= link_to 'Edit', edit_user_path(current_user) %></button>
  </div>
</div>