<div class="row">
  <div class="col-md-5">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url, width: "300px" %>
    <% else %>
      <img src="https://api.fnkr.net/testimg/300x300/00CED1/FFF/?text=img+placeholder">
    <% end %>  
  </div>
  <div class="col-md-7">
    
    <h1><%= @user.name %></h1>
    <p><%= @user.email %></p>
    <p><%= @user.intro %></p>
    <%= link_to 'Edit', edit_user_path(current_user), class: "btn btn-primary" %>
    <%= link_to "查看好友清單", friend_list_user_path(@user) %>
  </div>
</div>

<hr>

  <div class="card">
    <div class="card-header">
      <h3><strong><%= @commented_restaurants.count %></strong> 已評論餐廳</h3>
    </div>
    <div class="card-body">
      <% @commented_restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="my_restaurant">
            <div><%= image_tag restaurant.image.url, width: "100" %></div>
            <h5><%= restaurant.name %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>