<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
      <p>[<%= @restaurant.category.name %>]</p>
    </div>

    <div class="col-md-4">
      <% if @restaurant.image? %>
         <%= image_tag @restaurant.image.url, width: '300px' %> 
      <% else %>
         <img src="https://api.fnkr.net/testimg/300x300/00CED1/FFF/?text=img+placeholder">
       <% end %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
          <li><strong>Address:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
      <br>
      <%= link_to 'Dashboared', dashboard_restaurant_path(@restaurant), class: 'btn btn-primary' %>
    </div>

    <div class="clearfix"></div>

    <hr>

    <div class="container">

        <% @restaurant.comments.each  do |comment| %>
        <div>
          <h4><%= comment.user.email.split("@").first %></h4>
          <p><%= simple_format comment.content %></p>
          <p class="text-muted">
            <em>About <%=time_ago_in_words (comment.created_at) %> created </em> 
            <%= link_to " | Delete", restaurant_comment_path(@restaurant, comment), data: {confirm: "Are you sure?"}, method: :delete if current_user.admin? %>
          </p>

        </div>
        <hr>
        <% end %>
      <div class="row">

        <%= form_for [@restaurant, @comment] do |f| %>
          
          <div class="form-group">  
            <%= f.label :content, "討論區" %>
            <%= f.text_area :content, placeholder: "留言", class: "form-control" %>
          </div>

          <%= f.submit class: "btn btn-dark" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>


  </div>
</div>